@import 'tailwindcss';

@theme {
  --color-primary-background: var(--primary-background);
  --color-secondary-background: var(--secondary-background);

  --color-primary-text: var(--primary-text);
  --color-secondary-text: var(--secondary-text);

  --font-sans: var(--font-sans);
}

:root {
  /* Text colors */
  --primary-text: #1a1a1a;
  --secondary-text: #666666;

  /* Background colors */
  --primary-background: #ffffff;
  --secondary-background: #f9fafb;

  /* Font families */
  --font-sans:
    ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}
